<mat-sidenav-container class="theme-sidenav-container" autosize>
  <mat-sidenav fxLayout fxFlex="10" class="theme-sidenav" #sidenav mode="side" position="end" opened="true" (mouseenter)="expandSidebar()" (mouseleave)="closeSidebar()">
    <mat-toolbar class="theme-sidenav-logo">
      <div *ngIf="expand">
          <mat-radio-button value="push"></mat-radio-button>
        <span class="theme-navbar-title">رستافن</span>
        
      </div>
    </mat-toolbar>
    
    <div class="theme-sidenav-list-container">
        <p-panelMenu [model]="items" [style]="{'width':'300px'}" multiple="false" ></p-panelMenu>
        <!-- <mat-nav-list class="dashboard" *ngIf="!expand">
            <a mat-list-item (click)="toggleActive($event)">
              <mat-icon mat-list-icon >account_circle</mat-icon>
              <p matLine *ngIf="isExpanded">Name</p>
            </a>
    
            
    
            <a mat-list-item (click)="toggleActive($event)">
                <mat-icon mat-list-icon>inbox</mat-icon>
                <p matLine *ngIf="isExpanded">Inbox</p>
            </a>
            <a mat-list-item (click)="toggleActive($event)">
                <mat-icon mat-list-icon>star</mat-icon>
                <p matLine *ngIf="isExpanded">Starred</p>
            </a>
            <a mat-list-item (click)="toggleActive($event)">
                <mat-icon mat-list-icon>drafts</mat-icon>
                <p matLine *ngIf="isExpanded">Drafts</p>
            </a>
    
       
    
            <a mat-list-item (click)="toggleActive($event)">
                <mat-icon mat-list-icon>mail</mat-icon>
                <p matLine *ngIf="isExpanded">All Mail</p>
            </a>
            <a mat-list-item (click)="toggleActive($event)">
                <mat-icon mat-list-icon>delete</mat-icon>
                <p matLine *ngIf="isExpanded">Trash</p>
            </a>
            <a mat-list-item (click)="toggleActive($event)">
                <mat-icon mat-list-icon>warning</mat-icon>
                <p matLine *ngIf="isExpanded">Spam</p>
            </a>
          </mat-nav-list> -->
    </div>
  </mat-sidenav>
  <mat-sidenav-content class="theme-main-content">
    <app-header></app-header>
    <app-home-page></app-home-page>
  </mat-sidenav-content>
</mat-sidenav-container>
