<mat-sidenav-container class="theme-sidenav-container" autosize>
    <mat-sidenav class="theme-sidenav" #sidenav mode="side" position="end" opened="true" (mouseenter)="expandSidebar()"
        (mouseleave)="closeSidebar()">
        <mat-toolbar class="theme-sidenav-logo">
            <div fxLayout fxLayoutAlign="space-between" style="width:100%;">
                <span class="theme-navbar-title">رستافن</span>
                <mat-slide-toggle (change)="changeSidenavMode($event)"></mat-slide-toggle>
            </div>
        </mat-toolbar>

        <div class="theme-sidenav-list-container">
            <div class="theme-dashboard-link" fxLayout fxLayoutAlign="start center">
                <a routerLink="/homePage">
                <span>داشبورد</span>
                </a>
            </div>
            <mat-accordion>
                <mat-expansion-panel class="theme-expansion-panel" *ngFor="let item of items">
                    <mat-expansion-panel-header expandedHeight="48px">
                        <mat-panel-title>{{item.label}}</mat-panel-title>
                        <mat-panel-description></mat-panel-description>
                    </mat-expansion-panel-header>
                    <mat-nav-list>
                        <mat-list-item *ngFor="let link of item.items">
                            <a routerLink="{{link.routerLink}}">{{link.label}}</a>
                        </mat-list-item>
                    </mat-nav-list>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </mat-sidenav>
    <mat-sidenav-content class="theme-main-content">
        <app-header></app-header>
        <app-home-page></app-home-page>
    </mat-sidenav-content>
</mat-sidenav-container>