<div class="theme-container">
  <app-header></app-header>
  <div class="theme-content">
    <div class="ui-g theme-boxes-container">
      <div class="ui-lg-3 ui-md-6 ui-sm-12 theme-box">
        <div id="theme-box-users" class="ui-g">
          <div fxLayout fxLayoutAlign="start">
            <mat-icon>people</mat-icon>
            <span>کاربران</span>
          </div>
          <div></div>
          <div></div>
        </div>
      </div>
      <div class="ui-lg-3 ui-md-6 ui-sm-12 theme-box">
        <div id="theme-box-files" class="ui-g">
          <div fxLayout fxLayoutAlign="start">
            <mat-icon>storage</mat-icon>
            <span>کد جدید</span>
          </div>
          <div></div>
          <div></div>
        </div>
      </div>
      <div class="ui-lg-3 ui-md-6 ui-sm-12 theme-box">
        <div id="theme-box-checkin" class="ui-g">
          <div fxLayout fxLayoutAlign="start">
            <mat-icon>visibility</mat-icon>
            <span>بازدیدها</span>
          </div>
          <div></div>
          <div></div>
        </div>
      </div>
      <div class="ui-lg-3 ui-md-6 ui-sm-12 theme-box">
        <div id="theme-box-messages" class="ui-g">
          <div fxLayout fxLayoutAlign="start">
            <mat-icon>inbox</mat-icon>
            <span>پیغام‌ها</span>
          </div>
          <div></div>
          <div></div>
        </div>
      </div>
    </div>
  </div>
</div>