<div class="theme-container">
  <app-header></app-header>
  <div class="theme-content">
    <div class="ui-g theme-boxes-container">
      
      <div class="ui-lg-3 ui-md-6 ui-sm-12 theme-box">
        <div id="theme-box-users" class="ui-g rounded">
          <div fxLayout fxLayoutAlign="start" class="theme-box-title">
            <mat-icon>people</mat-icon>
            <span>کاربران</span>
          </div>
          <div class="theme-box-counts">
            <span>0 / ماه</span>
          </div>
          <div class="theme-box-description">
            <span>تعداد کاربران فعال در ماه جاری</span>
          </div>
        </div>
      </div>
      
      <div class="ui-lg-3 ui-md-6 ui-sm-12 theme-box">
        <div id="theme-box-files" class="ui-g rounded">
          <div fxLayout fxLayoutAlign="start" class="theme-box-title">
            <mat-icon>storage</mat-icon>
            <span>کد جدید</span>
          </div>
          <div class="theme-box-counts">
            <span>0 / ماه</span>
          </div>
          <div class="theme-box-description">
            <span>تعداد کدهای ثبت شده در ماه جازی</span>
          </div>
        </div>
      </div>
      
      <div class="ui-lg-3 ui-md-6 ui-sm-12 theme-box">
        <div id="theme-box-checkin" class="ui-g rounded">
          <div fxLayout fxLayoutAlign="start" class="theme-box-title">
            <mat-icon>visibility</mat-icon>
            <span>بازدیدها</span>
          </div>
          <div class="theme-box-counts">
            <span>0 / روز</span>
          </div>
          <div class="theme-box-description">
            <span>تعداد بازدید روزانه</span>
          </div>
        </div>
      </div>
      
      <div class="ui-lg-3 ui-md-6 ui-sm-12 theme-box">
        <div id="theme-box-messages" class="ui-g rounded">
          <div fxLayout fxLayoutAlign="start" class="theme-box-title">
            <mat-icon>inbox</mat-icon>
            <span>پیغام‌ها</span>
          </div>
          <div class="theme-box-counts">
            <span>0</span>
          </div>
          <div class="theme-box-description">
            <span>شما 0 پیغام جدید دارید</span>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>