.theme-content{
    width:100%;
    padding: 15xp;
    padding-top: 20px;
    direction: rtl;
}

.theme-boxes-container{
    height: 150px;
}

.theme-box{
    padding: 0.5em;
}

.theme-box div{
    width: 100%;
    direction: rtl;
    text-align: right;
    
}

.theme-box div div mat-icon{
    margin-left: 7px;
}

.theme-box-title{
    font-weight: bold;
    font-size: 14px;
}

.theme-box-counts{
    font-size: 20px;
    padding-top:2px;
    padding-bottom: 5px;
}

.theme-box-description{
    font-size: 12px;
}

#theme-box-users{
    background-color: #f696cb;
    color: #fcdaec;
    padding: 15px;
}
#theme-box-files{
    background-color: #8dcbff;
    color: #e9f4ff;
    padding: 15px;
}
#theme-box-checkin{
    background-color: #ffbf79;
    color: #fff2e5;
    padding: 15px;
}
#theme-box-messages{
    background-color: #9189fd;
    color: #eae8fe;
    padding: 15px;
}


