<mat-toolbar class="theme-navbar">
  <div>
    <a href="#" fxHide.lt-md fxShow.gt-sm class="theme-user">
      <img src="assets/images/user.png" class="theme-profile-image rounded-circle">
      <span class="theme-profile-title">نسترن حیدری</span>
    </a>
    <a href="#" mat-button fxHide.gt-sm fxShow.lt-md>
      <mat-icon>menu</mat-icon>
    </a>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="end">
    <ul fxLayout fxLayoutAlign="end center" fxLayoutGap="20px" class="theme-navbar-items">
      <li fxShow.gt-sm fxHide.lt-md>
        <mat-form-field>
          <input matInput type="text" placeholder="Search" [(ngModel)]="value">
          <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
            <mat-icon>search</mat-icon>
          </button>
        </mat-form-field>
      </li>
      <li fxHide.lt-md fxShow.gt-sm><a>
          <mat-icon matBadge="4" matBadgePosition="above after">notifications</mat-icon>
        </a></li>
      <li fxHide.lt-md fxShow.gt-sm><a>
          <mat-icon matBadge="5" matBadgePosition="above after">comment</mat-icon>
        </a></li>
      <li fxHide.lt-md fxShow.gt-sm><a>
          <mat-icon>settings</mat-icon>
        </a></li>
      <li fxHide.gt-sm fxShow.lt-md><a>
          <mat-icon>person</mat-icon>
        </a></li>
    </ul>
  </div>
</mat-toolbar>
<app-breadcrumb [model]="items" [home]="home"></app-breadcrumb>
