.nh-navbar{
    background-color: #5e35b1;
    direction: rtl;
}

.nh-nav-container{
  height: 100%;
}

.nh-navbar-items{
  list-style: none;
  color : #ede7f6;
}

a{
  text-decoration: none;
  color : #ede7f6;
}
