<mat-toolbar class="theme-navbar">
  <div fxFlex fxLayout fxLayoutAlign="end" class="theme-nav-container">
    <ul fxLayout  fxLayoutAlign="end center" fxLayoutGap="10px" class="theme-navbar-items">
      <li>
        <img src="assets/images/user.png" class="theme-profile-image rounded-circle border">
        <span class="theme-profile-title">نسترن حیدری</span>
      </li>
      <li>
        <mat-form-field>
          <input matInput type="text" placeholder="Search" [(ngModel)]="value">
          <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
            <mat-icon>search</mat-icon>
          </button>
        </mat-form-field>
      </li>
      <li><a href="#"><mat-icon matBadge="4" >notifications</mat-icon></a></li>
      <li><a href="#"><mat-icon matBadge="5">message</mat-icon></a></li>
      <li><a href="#"><mat-icon>settings</mat-icon></a></li>
    </ul>
  </div>
</mat-toolbar>
