.theme-navbar{
    background-color: #5E35B1;
    font-size: 14px;
    padding: 16px 14px 16px 24px;
    direction: rtl;
    z-index: 1000;
}

.theme-navbar-items{
  list-style: none;
  padding: 0;
    margin: 0;
  color : #ede7f6;
}

.theme-user:hover .theme-profile-image{
  border: 1.5px solid #e48a29;
}


.theme-profile-image {
  padding: 4px;
 width: 40px;
 height: 40px;
 transition: border-width 0.1s linear;
}

.theme-profile-title{
  margin-right:6px;
}

.mat-badge-content{
  background-color: #e48a29;
}

a{
  text-decoration: none;
  color : #ede7f6;
}

a:hover{
  color: #ede7f6;
}




