/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "~bootstrap/dist/css/bootstrap.min.css";

@import "primeicons/primeicons.css";
@import "primeng/resources/themes/nova-light/theme.css";
@import "primeng/resources/primeng.min.css";
@font-face {
  font-family: "IRANSans";
  src: url("assets/fonts/IRANSans.woff");
}

*{
  font-family: "IRANSans";
}

.mat-menu-panel{
  width: 250px;
  border-radius: 0px !important;
  border-top: 4px solid #5E35B1 !important;
  margin-top:25px !important;
   animation: fadeInUp 0.75s;
}

/* .small-screen-menu .mat-menu-panel{
  width:50px !important;
} */
.cdk-overlay-pane::before{
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 15px solid #5E35B1;
  content: " ";
  position: absolute;
  top: 10px !important;
  animation: fadeInRightBig 0.75s;
}


.profile-menu .cdk-overlay-pane::before{
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 15px solid #5E35B1;
  content: " ";
  position: absolute;
  top: 10px !important;
  animation: fadeInRightBig 0.75s;
}

.mat-menu-content{
  direction: rtl;
  text-align: right;
  padding: 3px;
}

.theme-smallscreen-expansion-panel .mat-expansion-panel{
  box-shadow: none !important;
  background-color: #ffffff;
  border:none;
  margin-top: 5px;
}

.theme-smallscreen-expansion-panel .mat-expansion-panel-header{
  box-shadow: none !important;
  border-radius: 0px;
  background-color: #ffffff;
}

.theme-smallscreen-expansion-panel .mat-expansion-panel-header-title{
  font-size: 12px;
}

.theme-smallscreen-expansion-panel .mat-expansion-panel-body{
  background-color: #ffffff;
}

.theme-expansion-panel .mat-expansion-panel-header.mat-expanded{
 background-color: #5E35B1 !important;
 color: white !important;

}

.theme-expansion-panel .mat-expansion-panel-body{
  background-color: #eeeeee;
  padding: 0 10px 16px 10px !important;
}

.theme-expansion-panel .mat-expansion-panel-header{
  padding: 0 10px !important;
}

.theme-expansion-panel .mat-expansion-panel-header.mat-expanded .mat-expansion-panel-header-title ,
.theme-expansion-panel .mat-expansion-panel-header.mat-expanded .mat-expansion-indicator::after {
  color: #ede7f6;
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-bar .mat-slide-toggle-thumb {
  background-color:#e48a29 !important;
}