/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "~bootstrap/dist/css/bootstrap.min.css";



@font-face {
  font-family: "IRANSans";
  src: url("assets/fonts/IRANSans.woff");
}

*{
  font-family: "IRANSans";
}
